<new-ad></new-ad>
<hr>
<form class="pure-form">
  <div class="pure-g">
    <div class="pure-u-1-4"></div>
    <section class="pure-u-1-2">
      <h2>Sorting Options</h2>
      <fieldset>
        <legend>Filter By Specific Text</legend>
        <input class="pure-input-1" name="filter" ng-model="$ctrl.filter" type="text">
      </fieldset>
    </section>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-4"></div>
    <section class="pure-u-1-4">
      <fieldset>
        <legend>Order By</legend>
        <label class="pure-radio">
          <input ng-click="$ctrl.changeOrder('-created_at')" type="radio" name="order" value="-created_at" checked> Date Posted<br>
          <input ng-click="$ctrl.changeOrder('price')" type="radio" name="order" value="price"> Price
        </label>
      </fieldset>
    </section>
    <section class="pure-u-1-4">
      <fieldset>
        <legend>Sort Order</legend>
        <label class="pure-radio">
          <input ng-click="$ctrl.reverseOrder(false)" type="radio" name="reverse" value="true" checked> Ascending<br>
          <input ng-click="$ctrl.reverseOrder(true)" type="radio" name="reverse" value="false"> Descending
        </label>
      </fieldset>
    </section>
  </div>
</form>

<div ng-repeat="ad in $ctrl.ads | filter:$ctrl.filter | orderBy:$ctrl.orderBy : $ctrl.reverse">
  <div class="pure-g centered-text">
    <div class="pure-u-1-4"></div>
    <div class="pure-u-1-2">
      <ad ad-data="ad"></ad>
    </div>
  </div>
  <hr>
</div>